
.DS_Store

checkpoints/

src/depth_pro.egg-info/dependency_links.txt

src/depth_pro.egg-info/

src/depth_pro/__pycache__/

src/depth_pro/cli/__pycache__/

src/depth_pro/network/__pycache__/

data/depth/

data/video/tmp_depth_example/

data/video/tmp_frames_example/

data/video/example_depthmap_g03.mp4

data/video/example_depthmap_g07.mp4

data/video/example_depthmap_raw.mp4

data/video/example_depthmap.mp4
